.header {
    background-color: #000000;
    color: white;
    height: 100%;
    padding: 5px;
    text-align: center;
  }
  .information {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-evenly;
    text-align: center;
    height: 530px;
    width: 100%;
  }
  .intro {
    align-items: center;
    align-content: center;
    text-align: left;
    max-width: 500px;
    min-width: 100px;
    font-size: 35px;
    font-weight: 900;
  }
  .intro:hover {
    filter: drop-shadow(-2px -2px 20px aqua);
  }
  .name{
    color: aqua;
  }
  .name1{
    color: aqua;
  }
  .picture {
    width: 350px;
    height: 503px;
  }
  .section {
    background-color: black;
    color: white;
    height: 90%;
  }
  .section_information {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
  }
  .section_picture {
    margin-top: 100px;
  }
  .picture {
    width: 370px;
    height: 470px;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .section_infor {
    margin-top: 200px;
    /* padding: 20px; */
    margin-bottom: 70px;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .infor_h1 {
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
  }
  .infor_pera {
    font-size: 18px;
    padding: 7px;
  }
  .download_btn{
    margin-top: 20px;
    font-weight: 800;
    display: inline-block;
    padding: 15px 25px;
    background-color: black;
    color: aqua;
    border: 1px solid aqua;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* border: 1px solid white; */
  }
  
  .download_btn:hover {
    background-color: aqua;
    color: white;
  }
  
  .section_skills {
    height: 100%;
    background-color: #000000;
    margin-bottom: 10%;
    padding: 30px 10px;
  }
  .he_2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .skill_container {
    /* margin-bottom: 30px; */
    padding: 25px;
  }
  
  .skill_name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .progress_container {
    max-width: 100%;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
  }
  .progress_bar {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    transition: width 0.4s ease;
  }
  
  .progress_bar_html_bar {
    background-color: #e34c26;
  }
  .progress_bar_css_bar{
    background-color: #3e5cd4;
  }
  .progress_bar_js_bar {
    background-color: #f0db4f;
    color: black;
  }
  .progress_bar_ts_bar {
    background-color: #007acc;
  }
  .progress_bar_python_bar {
    background-color: #3776ab;
  }
  .progress_bar_html_bar {
    width: 90%;
  }
  .progress_bar_css_bar {
    width: 80%;
  }
  .progress_bar_js_bar {
    width: 70%;
  }
  .progress_bar_ts_bar {
    width: 70%;
  }
  .progress_bar_python_bar {
    width: 30%;
  }
  
  @media (max-width: 760px) {
    .information {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      width: 100%;
      align-items: center;
    }
    .picture {
      filter: drop-shadow(-0px -0px 1px rgb(255, 255, 255));
    }
    .profile_picture {
      display: none;
    }
    .section_information {
      flex-direction: column;
      align-items: center;
      margin-bottom: 90px;
    }
    .infor_pera {
      font-size: 25px;
      font-family: serif;
      padding: 10px;
    }
  
    .intro {
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      font-size: 25px;
    }
    .name {
      font-size: 25;
    }
    .name1 {
      font-size: 35px;
    }
  }
  @media (max-width: 400px) {
    .intro {
      font-size: 35px;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
  